/* .dt-button.btn{
  margin: 3px;
  margin-bottom: 22px;
}
/* .yTb{
  margin: 3px;
  margin-bottom: 22px;
} */
/* .yTs{
  margin: 33px;
}

select[name="dataTableBuilder_lengt"] {
  padding: 0px !important;
}
.dataTables_length{
  margin-bottom: 15px;
  width: 44%;
}
.dataTables_filter{
  margin-bottom: 22px;
  width: 44%;
}

.dataTables_length > label{

}
.dataTables_length .form-control{
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 4px;
}
.dataTables_filter > label{

}
.dataTables_filter .form-control{
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 4px;
} */
/* turns all input fields that have a name that starts with "go" red */
/* input[name^="go"] { color: red } */
/* tfoot > tr > th > input{
  border-radius: 2px;
  border: 1px gray solid;
  margin: 0px;
}
tfoot > tr > th{
 padding: 0px;
  margin: 0px;
}

.dataTables_paginate > .pagination > .paginate_button > a{
  border-radius: 15px;
  margin-left: 6px;
  margin-right: 6px;
  display: inline-block;
}
.dataTables_paginate {
  display: inline-block;
  position: relative;
  top: 10px;
}  */

@media (min-width: 768px){

}
#datatable_info,.dt-buttons,#datatable_length,#datatable_filter{
  margin-bottom: 8px !important;
  width: 100% !important;
  }
.mg-4{
  padding:3px !important;
}
.m-y{
  margin-left: 10px !important;
  margin-right: 10px !important;
}
 table.dataTable.nowrap td {
  white-space: normal !important;
  min-width: 80px !important;
}

.child .dtr-title{
  margin-left: 16px !important;
}
@media (min-width: 768px){
  .child ul.dtr-details li{
   width: 45% !important;
   float: right;
   margin-left: 20px !important;
  }
}
/* .child ul.dtr-details {
}
tbody tr.child td.child{
  width: 422px !important;
  padding: 66PX !important;
  float: right !important;
} */
